<div class="container">
	{{form_start(form)}}
	{{form_rest(form)}}
	<input type="submit" class="btn btn-primary" value="{{valeurBtnSubmit|default("Enrégistrer")}}" formnovalidate>
	{{form_end(form)}}
</div>
